<nav class="navbar navbar-expand bg-light">
  <div style="background-color: rgb(249, 249, 254)" class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- on-going -->
        <li class="nav-item">
          <a
            style="color: rgb(43, 207, 152)"
            class="nav-link active"
            aria-current="page"
            href="#"
            >On-Going</a
          >
        </li>

        <!-- past -->
        <li class="nav-item">
          <a style="color: rgb(115, 115, 115)" class="nav-link" href="#"
            >Past</a
          >
        </li>

        <!-- upcoming -->
        <li class="nav-item">
          <a style="color: rgb(115, 115, 115)" class="nav-link" href="#"
            >Upcoming</a
          >
        </li>
      </ul>
      <a
        style="background-color: rgb(236, 253, 248); color: rgb(43, 207, 152)"
        class="btn btn-outline-success"
        href="create-project"
        role="button"
        >Create New Project</a
      >
    </div>
  </div>
</nav>

<div class="container">
  <div style="background-color: rgb(249, 249, 254)" class="card">
    <div class="card-header">
      <div class="container p-3">
        <div
          class="card"
          *ngFor="
            let employee of employees
              | paginate: { itemsPerPage: 3, currentPage: p, totalItems: total }
          "
        >
          <table class="table-light">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email Address</th>
                <th scope="col">Certificate</th>
                <th scope="col">Welder</th>
                <th scope="col">Fitter</th>
                <th scope="col">Rigger</th>
                <th scope="col">Sacffolder</th>
                <th scope="col">Instrument Tech</th>
                <th scope="col">Election</th>
                <th scope="col">Mechanic</th>
                <th scope="col">Crane Operator</th>
              </tr>
            </thead>
            <tbody>

              <!-- <tr>
                <td>{{employees.firstName}}</td>
                <td>{{employees.lastName}}</td>
                <td>{{employees.email}}</td>
                <td>{{employees.phoneNumber}}</td>
                <td>{{employees.doc}}</td>
                <td>{{employees.welder}}</td>
                <td>{{employees.fitter}}</td>
                <td>{{employees.rigger}}</td>
                <td>{{employees.sacffolder}}</td>
                <td>{{employees.instructionTech}}</td>
                <td>{{employees.election}}</td>
                <td>{{employees.mechanic}}</td>
                <td>{{employees.craneOperator}}</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- pagination -->
<div class="container">
  <nav aria-label="Page navigation ">
    <ul class="pagination justify-content-end">
      <pagination-controls
        (pageChange)="pageChangeEvent($event)"
      ></pagination-controls>
    </ul>
  </nav>
</div>
