<div class="container" style="height: 90vh">
  <div class="container p-3">
    <div class="card">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center">First Name</th>
            <th scope="col" class="text-center">Last Name</th>
            <th scope="col" class="text-center">Phone Number</th>
            <th scope="col" class="text-center">Email Address</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let employee of employees"
            (click)="onClick(employee._id)"
            style="cursor: pointer"
          >
            <td class="text-center">{{ employee.firstName }}</td>
            <td class="text-center">{{ employee.lastName }}</td>
            <td class="text-center">{{ employee.phoneNumber }}</td>
            <td class="text-center">{{ employee.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
