<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div id="bg" class="container mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-white shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12 text-center">
              <div class="rounded-circle d-flex justify-content-center">
                <img src="assets/images/person-logo.jpg" height="100" />
              </div>
              <h3>Nisha Mathuria</h3>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <button><i class="bi bi-envelope"></i></button> Email:
              nisha@gmail.com
            </div>
            <div class="col-sm-4">
              <button><i class="bi bi-telephone"></i></button> Phone:
              123-456-7890
            </div>
            <div class="col-sm-4">
              <button><i class="bi bi-calendar-day"></i></button> Date of birth:
              25 Sep 1999
            </div>
          </div>
          <hr />

          <div class="row pl-4">
            <div class="col-6">
              <i class="bi bi-geo-alt"
                >Address: House 181,building 12, Ahmedabad
              </i>
              <br />
              <i class="bi bi-coin">Daily wages: 300 N</i>
            </div>
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-6">
            <div class="col-12 bg-secondary text-white p-4 fs-4">
              Educational Details & Skill Sets:
            </div>
            <div class="col-12 bg-light p-4">
              <span class="text-muted">Most Recent Education Degree:</span>
              mining Engineer
            </div>

            <!-- (contextmenu)="onRightClick()" -->
            <div class="col-12">
              <p>Certificate</p>
              <img width="300" src="assets/images/certificate.webp" />
            </div>
          </div>
          <div class="col-6">
            <div class="col-12 bg-secondary text-white p-4 fs-4">
              Skill Sets & Level:
            </div>
            <div class="col-12 bg-light p-2">
              <div class="d-flex mx-2 justify-content-between align-items-center">
                <span class="text-muted">Welder</span><span>Junior</span>
              </div>
            </div>

            <div class="col-12 bg-light p-2">
              <div class="d-flex mx-2 justify-content-between align-items-center">
                <span class="text-muted">Fitter</span><span>InterMediate</span>
              </div>
            </div>

            <div class="col-12 bg-light p-2">
              <div class="d-flex mx-2 justify-content-between align-items-center">
                <span class="text-muted">Rigger</span><span>Senior</span>
              </div>
            </div>

            <div class="col-12 bg-light p-2">
              <div class="d-flex mx-2 justify-content-between align-items-center">
                <span class="text-muted">Sacffolder</span><span>Lead</span>
              </div>
            </div>

            <div class="col-12 bg-light p-2">
              <div class="d-flex mx-2 justify-content-between align-items-center">
                <span class="text-muted">Instrument Tech </span><span>Junior</span>
              </div>
            </div>

            <div class="col-12 bg-light p-2">
              <div class="d-flex mx-2 justify-content-between align-items-center">
                <span class="text-muted">Election</span><span>InterMediate</span>
              </div>
            </div>

            <div class="col-12 bg-light p-2">
              <div class="d-flex mx-2 justify-content-between align-items-center">
                <span class="text-muted">Mechanic</span><span>Senior</span>
              </div>
            </div>

            <div class="col-12 bg-light p-2">
              <div class="d-flex mx-2 justify-content-between align-items-center">
                <span class="text-muted">Crane Operator </span><span>Lead</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
