<div class="container" style="height: 175vh;margin-bottom: 20px;">
  <div class="container p-5">
    <div class="card">
      <div class="card-header">Add Team Member</div>
      <div class="card-body">
        <form [formGroup]="createForm" (ngSubmit)="onSave()">
          <div class="row g-3">
            <!-- First Name -->
            <div class="col">
              <input
                style="
                  background-color: rgb(249, 249, 249);
                  border-radius: 50px;
                  font-size: 15px;
                  height: 60px;
                  padding-left: 35px;
                "
                type="text"
                class="form-control"
                placeholder="First name"
                aria-label="First name"
                formControlName="firstName"
              />
              <div
                *ngIf="
                  createForm.get('firstName')?.invalid &&
                  (createForm.get('firstName')?.dirty ||
                    createForm.get('firstName')?.touched)
                "
                style="color: red; line-height: 1; height: 2px; margin: 5px"
              >
                this field is required!
              </div>
            </div>

            <!-- Last Name -->
            <div class="col">
              <input
                style="
                  background-color: rgb(249, 249, 249);
                  border-radius: 50px;
                  font-size: 15px;
                  height: 60px;
                  padding-left: 35px;
                "
                type="text"
                class="form-control"
                placeholder="Last name"
                aria-label="Last name"
                formControlName="lastName"
              />
              <div
                *ngIf="
                  createForm.get('lastName')?.invalid &&
                  (createForm.get('lastName')?.dirty ||
                    createForm.get('lastName')?.touched)
                "
                style="color: red; line-height: 1; height: 2px; margin: 5px"
              >
                this field is required!
              </div>
            </div>
          </div>
          <br />
          <div class="row g-3">
            <!-- Phone Number -->
            <div class="col">
              <input
                style="
                  background-color: rgb(249, 249, 249);
                  border-radius: 50px;
                  font-size: 15px;
                  height: 60px;
                  padding-left: 35px;
                "
                pattern="^((\\+91-?)|0)?[0-9]{10}$"
                type="number"
                class="form-control"
                placeholder="Phone Number"
                aria-label="Phone Number"
                formControlName="phoneNumber"
              />
              <div
                *ngIf="
                  createForm.get('phoneNumber')?.invalid &&
                  (createForm.get('phoneNumber')?.dirty ||
                    createForm.get('phoneNumber')?.touched)
                "
                style="color: red; line-height: 1; height: 2px; margin: 5px"
              >
                10 digits required!
              </div>
            </div>

            <!-- Email Address -->
            <div class="col">
              <input
                style="
                  background-color: rgb(249, 249, 249);
                  border-radius: 50px;
                  font-size: 15px;
                  height: 60px;
                  padding-left: 35px;
                "
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                type="text"
                class="form-control"
                placeholder="Email Address"
                aria-label="Email Address"
                formControlName="email"
              />
              <div
                *ngIf="
                  createForm.get('email')?.invalid &&
                  (createForm.get('email')?.dirty ||
                    createForm.get('email')?.touched)
                "
                style="color: red; line-height: 1; height: 2px; margin: 5px"
              >
                The Email is not proper!
              </div>
            </div>
          </div>
          <br />
          <div class="row g-3">
            <div class="col">
              <!-- Upload Certificate -->
              <label for="formGroup" class="form-label"
                >Upload Certificate
              </label>
              <input
                style="
                  background-color: rgb(249, 249, 249);
                  border-radius: 50px;
                "
                class="form-control form-control-sm"
                id="fileSelector"
                type="file"
                accept="application/pdf"
                name="doc"
                (change)="onChange()"
                formControlName="docFile"
                value="upload"
              />
              <!-- ng2FileSize="{min:1024,max: 1024 * 1024}",
                    fileSizeErrorMsg="'File size must be less that 1mb and more that 1kb!'" -->
              <div
                *ngIf="
                  createForm.get('docFile')?.invalid &&
                  (createForm.get('docFile')?.dirty ||
                    createForm.get('docFile')?.touched)
                "
                style="color: red; line-height: 1; height: 2px; margin: 5px"
              >
                Upload PDF file only and should be less than 4MB.
              </div>
            </div>

            <!-- Skill Set & Level -->
            <div class="card p-2">
              <h6>Skill Set & Level :</h6>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <label for="formGroup" class="form-label my-2"
                      >Welder</label
                    >
                    <select
                      style="
                        background-color: rgb(249, 249, 249);
                        border-radius: 50px;
                        font-size: 15px;
                        height: 60px;
                      "
                      id="inputState"
                      class="form-select my-1"
                      formControlName="welder"
                    >
                      <option>Junior</option>
                      <option>Intermediate</option>
                      <option>Senior</option>
                      <option>Lead</option>
                    </select>
                    <div
                      *ngIf="
                        createForm.get('welder')?.invalid &&
                        (createForm.get('welder')?.dirty ||
                          createForm.get('welder')?.touched)
                      "
                      style="
                        color: red;
                        line-height: 1;
                        height: 2px;
                        margin: 5px;
                      "
                    >
                      Please select the requirement!
                    </div>
                    <br />

                    <label for="formGroup" class="form-label my-2"
                      >Fitter</label
                    >
                    <select
                      style="
                        background-color: rgb(249, 249, 249);
                        border-radius: 50px;
                        font-size: 15px;
                        height: 60px;
                      "
                      id="inputState"
                      class="form-select my-1"
                      formControlName="fitter"
                    >
                      <option>Junior</option>
                      <option>Intermediate</option>
                      <option>Senior</option>
                      <option>Lead</option>
                    </select>
                    <div
                      *ngIf="
                        createForm.get('fitter')?.invalid &&
                        (createForm.get('fitter')?.dirty ||
                          createForm.get('fitter')?.touched)
                      "
                      style="
                        color: red;
                        line-height: 1;
                        height: 2px;
                        margin: 5px;
                      "
                    >
                      Please select the requirement!
                    </div>
                    <br />

                    <label for="formGroup" class="form-label my-2"
                      >Rigger</label
                    >
                    <select
                      style="
                        background-color: rgb(249, 249, 249);
                        border-radius: 50px;
                        font-size: 15px;
                        height: 60px;
                      "
                      id="inputState"
                      class="form-select my-1"
                      formControlName="rigger"
                    >
                      <option>Junior</option>
                      <option>Intermediate</option>
                      <option>Senior</option>
                      <option>Lead</option>
                    </select>
                    <div
                      *ngIf="
                        createForm.get('rigger')?.invalid &&
                        (createForm.get('rigger')?.dirty ||
                          createForm.get('rigger')?.touched)
                      "
                      style="
                        color: red;
                        line-height: 1;
                        height: 2px;
                        margin: 5px;
                      "
                    >
                      Please select the requirement!
                    </div>
                    <br />

                    <label for="formGroup" class="form-label my-2"
                      >Sacffolder</label
                    >
                    <select
                      style="
                        background-color: rgb(249, 249, 249);
                        border-radius: 50px;
                        font-size: 15px;
                        height: 60px;
                      "
                      id="inputState"
                      class="form-select my-1"
                      formControlName="sacffolder"
                    >
                      <option>Junior</option>
                      <option>Intermediate</option>
                      <option>Senior</option>
                      <option>Lead</option>
                    </select>
                    <div
                      *ngIf="
                        createForm.get('sacffolder')?.invalid &&
                        (createForm.get('sacffolder')?.dirty ||
                          createForm.get('sacffolder')?.touched)
                      "
                      style="
                        color: red;
                        line-height: 1;
                        height: 2px;
                        margin: 5px;
                      "
                    >
                      Please select the requirement!
                    </div>
                    <br />

                    <label for="formGroup" class="form-label my-2"
                      >Instruction Tech
                    </label>
                    <select
                      style="
                        background-color: rgb(249, 249, 249);
                        border-radius: 50px;
                        font-size: 15px;
                        height: 60px;
                      "
                      id="inputState"
                      class="form-select my-1"
                      formControlName="instructionTech"
                    >
                      <option>Junior</option>
                      <option>Intermediate</option>
                      <option>Senior</option>
                      <option>Lead</option>
                    </select>
                    <div
                      *ngIf="
                        createForm.get('instrumentTech')?.invalid &&
                        (createForm.get('instrumentTech')?.dirty ||
                          createForm.get('instrumentTech')?.touched)
                      "
                      style="
                        color: red;
                        line-height: 1;
                        height: 2px;
                        margin: 5px;
                      "
                    >
                      Please select the requirement!
                    </div>
                    <br />

                    <label for="formGroup" class="form-label my-2"
                      >Election</label
                    >
                    <select
                      style="
                        background-color: rgb(249, 249, 249);
                        border-radius: 50px;
                        font-size: 15px;
                        height: 60px;
                      "
                      id="inputState"
                      class="form-select my-1"
                      formControlName="election"
                    >
                      <option>Junior</option>
                      <option>Intermediate</option>
                      <option>Senior</option>
                      <option>Lead</option>
                    </select>
                    <div
                      *ngIf="
                        createForm.get('election')?.invalid &&
                        (createForm.get('election')?.dirty ||
                          createForm.get('election')?.touched)
                      "
                      style="
                        color: red;
                        line-height: 1;
                        height: 2px;
                        margin: 5px;
                      "
                    >
                      Please select the requirement!
                    </div>
                    <br />

                    <label for="formGroup" class="form-label my-2"
                      >Mechanic</label
                    >
                    <select
                      style="
                        background-color: rgb(249, 249, 249);
                        border-radius: 50px;
                        font-size: 15px;
                        height: 60px;
                      "
                      id="inputState"
                      class="form-select my-1"
                      formControlName="mechanic"
                    >
                      <option>Junior</option>
                      <option>Intermediate</option>
                      <option>Senior</option>
                      <option>Lead</option>
                    </select>
                    <div
                      *ngIf="
                        createForm.get('mechanic')?.invalid &&
                        (createForm.get('mechanic')?.dirty ||
                          createForm.get('mechanic')?.touched)
                      "
                      style="
                        color: red;
                        line-height: 1;
                        height: 2px;
                        margin: 5px;
                      "
                    >
                      Please select the requirement!
                    </div>
                    <br />

                    <label for="formGroup" class="form-label my-2"
                      >Crane Operator</label
                    >
                    <select
                      style="
                        background-color: rgb(249, 249, 249);
                        border-radius: 50px;
                        font-size: 15px;
                        height: 60px;
                      "
                      id="inputState"
                      class="form-select my-1"
                      formControlName="craneOperator"
                    >
                      <option>Junior</option>
                      <option>Intermediate</option>
                      <option>Senior</option>
                      <option>Lead</option>
                    </select>
                    <div
                      *ngIf="
                        createForm.get('craneOperator')?.invalid &&
                        (createForm.get('craneOperator')?.dirty ||
                          createForm.get('craneOperator')?.touched)
                      "
                      style="
                        color: red;
                        line-height: 1;
                        height: 2px;
                        margin: 5px;
                      "
                    >
                      Please select the requirement!
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Button -->
            <div class="d-flex justify-content-center">
              <button
                style="
                  background-color: rgb(158, 158, 158);
                  border-radius: 50px;
                  width: 170px;
                  height: 60px;
                  font-size: 22px;
                "
                class="btn btn-secondary border-0"
                href="#"
                role="button"
              >
                Back
              </button>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <button
                type="submit"
                style="
                  background-image: linear-gradient(to left, #21ce99, #12dda0);
                  border-radius: 50px;
                  width: 170px;
                  height: 60px;
                  font-size: 22px;
                "
                [disabled]="!createForm.valid"
                class="btn btn-success border-0"
              >
                Save
              </button>
            </div>
          </div>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>
