<nav class="navbar navbar-expand m-3">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- on-going -->
        <li class="nav-item">
          <a
            style="color: rgb(43, 207, 152); font-size: 18px; margin-right:45px"
            class="nav-link active"
            aria-current="page"
            href="#"
            >On-Going</a
          >
        </li>
        
        <!-- past -->
        <li class="nav-item">
          <a style="color: rgb(115, 115, 115); margin-right:45px; font-size: 18px;" class="nav-link" href="#"
            >Past</a
          >
        </li>

        <!-- upcoming -->
        <li class="nav-item">
          <a style="color: rgb(115, 115, 115); font-size: 18px;" class="nav-link" href="#"
            >Upcoming</a
          >
        </li>
      </ul>
      <a
        style="background-color: rgb(236, 253, 248); color: rgb(43, 207, 152)"
        class="btn btn-outline-success"
        href="create-project"
        role="button"
        >Create New Project</a
      >
    </div>
  </div>
</nav>

<div class="container">
      <div
        class="card mb-3"
        *ngFor="
          let project of projects
            | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total }
        "
      >
        <div
          class="card-body"
          (click)="onClick(project._id)"
          style="cursor: pointer"
        >
          <h5 class="card-title">{{ project.projectTitle }}</h5>
          <div class="row">
            <div class="col-6">
              <span>Supervisor: </span>
              <span class="text-muted">
                {{ project.selectSupervisor.firstName }}
                {{ project.selectSupervisor.lastName }}
              </span>
              <p>{{ project.projectLocation }}</p>
            </div>
            <div class="col-6">
              <span>Project Period: </span>
              <span class="text-muted">
                {{ project.startDate | date: "dd/MM/yyyy" }} -
                {{ project.endDate | date: "dd/MM/yyyy" }}
              </span>
              <br />
              <span>Number Of People Added: </span>
              <span class="text-muted">{{ project.expectedMember }}</span>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>

    <!-- pagination -->

    <div class="container">
      <nav aria-label="Page navigation ">
        <ul class="pagination justify-content-end">
          <pagination-controls
            (pageChange)="pageChangeEvent($event)"
          ></pagination-controls>
        </ul>
      </nav>
    </div>
