<nav class="navbar navbar-expand m-3">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- on-going -->
        <li class="nav-item" (click)="onClickItem(0)">
          <span
            style="
              font-size: 19px;
              margin-right: 50px;
              cursor: pointer;
              color: rgb(43, 207, 152);
            "
            [ngClass]="{ activeColor: statusColor == 0 }"
            class="nav-link"
            aria-current="page"
            href="#"
            >On-Going</span
          >
        </li>

        <!-- past -->
        <li class="nav-item" (click)="onClickItem(1)">
          <span
            style="
              font-size: 19px;
              margin-right: 50px;
              cursor: pointer;
              color: rgb(84, 84, 84);
            "
            [ngClass]="{ activeColor: statusColor == 1 }"
            class="nav-link"
            >Past</span
          >
        </li>

        <!-- upcoming -->
        <li class="nav-item" (click)="onClickItem(2)">
          <span
            style="font-size: 19px; cursor: pointer; color: rgb(84, 84, 84)"
            class="nav-link"
            [ngClass]="{ activeColor: statusColor == 2 }"
            >Upcoming</span
          >
        </li>
      </ul>
      <a
        style="background-color: rgb(236, 253, 248); color: rgb(43, 207, 152)"
        class="btn btn-outline-success"
        href="create-project"
        role="button"
        >Create New Project</a
      >
    </div>
  </div>
</nav>

<div class="container" style="height: 73vh">
  <div
    class="card mb-3"
    *ngFor="
      let project of projects
        | paginate: { itemsPerPage: 3, currentPage: p, totalItems: total }
    "
  >
    <div
      class="card-body"
      (click)="onClick(project._id)"
      style="cursor: pointer"
    >
      <h5 class="card-title">{{ project.projectTitle }}</h5>
      <div class="row">
        <div class="col-6">
          <span>Supervisor: </span> &nbsp;
          <span class="text-muted">
            {{ project.selectSupervisor.firstName }}
            {{ project.selectSupervisor.lastName }}
          </span>
          <p>{{ project.projectLocation }}</p>
        </div>
        <div class="col-6">
          <span>Project Period: </span> &nbsp;
          <span class="text-muted">
            {{ project.startDate | date: "dd/MM/yyyy" }} -
            {{ project.endDate | date: "dd/MM/yyyy" }}
          </span>
          <br />
          <span>Number Of People Added: </span> &nbsp;
          <span class="text-muted">{{ project.expectedMember }}</span>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>

<!-- pagination -->

<div class="container">
  <nav aria-label="Page navigation ">
    <ul class="pagination justify-content-end">
      <pagination-controls
        (pageChange)="pageChangeEvent($event)"
      ></pagination-controls>
    </ul>
  </nav>
</div>
